html  
    head
        title thpt
        link(rel="stylesheet", type="text/css", href="public/styles/main.css")
    body
        img(class='face', src='public/images/some_face.png')
    script(type='text/javascript', src='public/js/main.js')
